<div class="container">
  <nav class="sidebar" [class.minimized]="isMinimized">
    <button (click)="toggleSidebar()" class="toggle-button">
      <span *ngIf="isMinimized">▶</span>
      <span *ngIf="!isMinimized">◀</span>
    </button>
    <ul *ngIf="!isMinimized">
      
      <div appZoom><li><a routerLink="/">Home</a></li></div>
      <div appZoom><li><a routerLink="/search">Buscar Criptomoeda</a></li></div>
      <div appZoom><li><a routerLink="/favorites">Favoritos</a></li></div>
    
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>