

.sidebar {
  width: 180px; 
  background-color: #4a6e4d; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  padding: 25px;
  transition: width 0.5s; 
}

.sidebar.minimized {
  width: 60px; 
}

.toggle-button {
  background: none; 
  border: none; 
  color: #f0f0f0; 
  font-size: 24px; 
  cursor: pointer; 
}

.sidebar ul {
  list-style-type: none; 
  padding: 0;
}

.sidebar a {
  color: #f0f0f0; 
  text-decoration: none; 
  display: block; 
  padding: 10px 0; 
}


.sidebar.minimized + .content {
  margin-left: 80px; 
}